@charset "UTF-8";

body{
    /* background: #f8f9fa; */
    background: #1d1f21;
    color: #c9cacc;
    font-size: 16px;
    /* font-family: "Menlo", "Meslo LG", monospace; */
    font-family: Consolas,Cambria,monospace;
    font-weight: 500;
    line-height: 1.725;
    text-rendering: geometricPrecision;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main{
    width: 100%;
    max-width: 45rem;
    flex: 1;
    /* border: 1px solid green; */
}
/* .content{
    height: 400px;
    border: 1px solid green;
} */
/* header{
    border: 1px solid yellow;
} */
footer{
    /* border: 1px solid blueviolet; */
    /* display: none; */
    color: #666666;
    overflow: hidden;
}

.nav_a {
    display: block;
    padding: 0.5rem 1rem;
  }
  
  .nav_a:hover {
    text-decoration: none;
    color: #2bbc8a;
  }

  .text_span{
      color: #666666;
  }

  .text_a{
    text-decoration:underline;
    text-decoration-color: white;
  }

  .text_a:hover{
    text-decoration:underline;
    text-decoration-color: #2bbc8a;
  }